<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div class="center">
            <h1>Forget Password</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="email" id="email" name="email" class="input" placeholder="E-mail">
                <br>
                <input type="submit" value="Send Email" class="input">

                <a href="{% url 'logIn' %}">Already have an account?</a>
                <br>
                <a href="{% url 'signup' %}">Don't have an account?</a>
            </form>
        </div>
    </body>
</html>